<html>
    <head>
        <title>无聊--Just Talk</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" >
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/media_queries.css">
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/"><img src="/images/wuliao.png" alt="无聊"/></a>
            </div>
        </div>
        <div id="main">
            <div class="chat">
                <div class="chat-echo">
                    <div class="chat-message" id="chat-message">
                        <div class="item message">欢迎无聊的你，寻找无聊的他(她)</div>
                    </div>
                </div>
                <div class="chat-type">
                    <div class="chat-input">
                        <input type="text" value="" class="" id="chat-input" alt="type message here" x-webkit-speech/>
                    </div>
                    <div class="chat-send">
                        <button id="newStranger">换</button>
                        <button id="chat-send">说</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/encoder.js"></script>
        <script type="text/javascript">

        $(document).ready(function() {
            $(window).resize(function() {
                mainResize();
            });

            mainResize();
            function mainResize() {
                console.log("resize");
                var mainHeight = $(window).height() - $("#header").outerHeight() - 5;
                $("#main").height(mainHeight);
                $("#main .chat-echo").height(mainHeight - 40);
            }

            var userNick = Math.random();
            var chatSendBtn = $("#chat-send");
            var newStrangerBtn = $("#newStranger");
            var chatMessage = $("#chat-message");
            var chatInput = $("#chat-input");
            var talking = true;

            var socket = io.connect();
            socket.on('connect', function () {
                socket.emit("command", "join");

                socket.on("command", function(cmd) {
                    switch(cmd) {
                        case "joined":
                            console.log("user joined");
                            findStranger();
                            break;
                        case "stranger leave":
                            console.log("stranger leave");
                            talking = false;
                            addMessage("他(她)走了...");
                            break;
                        case "no stranger":
                            addMessage("没有无聊的人...");
                            break;
                        default:
                            console.log(cmd + " command not found");
                            break;
                    }
                });

                socket.on("stranger join", function(user) {
                    console.log("stranger join");
                    talking = true;
                    addMessage("来了一个无聊的人...");
                });

                socket.on("talk", function(message) {
                    addMessage({type: "stranger", name: "陌生人", echo: message});
                });
            });
            
            function findStranger() {
                socket.emit("command", "find stranger");
            }

            function addMessage(message) {
                if (typeof message == "string") {
                    var messageDiv = "<div class=\"item message\">" + message + "</div>";
                } else {
                    var messageDiv = "<div class=\"item talk talk-" + message.type+ "\"><div class=\"name\">" + message.name + ":</div><div class=\"echo\">" + message.echo + "</div></div>";
                }
                
                chatMessage.append(messageDiv);
                messageScrollBottom();
            }

            function talk2Stranger() {
                if (talking) {
                    var message = chatInput.val();
                    if (message == "") {
                        console.log("message empty")
                        shake(chatInput, "warning", 3);
                        return;
                    }
                    message = Encoder.htmlEncode(message);
                    addMessage({type: "self", name: "我自己", echo: message});
                    chatInput.val("");
                    socket.emit("talk", message);
                }
            }

            function messageScrollBottom() {
                chatMessage.scrollTop(chatMessage[0].scrollHeight);
            }

            function shake(ele,cls,times){           
                var i = 0,t= false ,o = ele.attr("class")+" ",c ="",times=times||2;
                if(t) return;
                t= setInterval(function(){
                    i++;
                    c = i%2 ? o+cls : o;
                    ele.attr("class",c);
                    if(i==2*times){
                        clearInterval(t);
                        ele.removeClass(cls);
                    }
                },200);
             }; 

            chatSendBtn.click(function(e) {
                talk2Stranger();
            });

            newStrangerBtn.click(function() {
                findStranger();
            });

            chatInput.keydown(function(e) {
                console.log(e);
                if (e.keyCode == 13) {
                    talk2Stranger();
                }
            });
        }); 
        </script>
    </body>
</html>