<html>
    <head>
        <link rel="stylesheet" href="/style.less">
    </head>
    <body>
        <span><%= attr %></span>
        <span><%= value %></span>
        <div class="box"><img src="/images/meinv.jpg"></div>
    </body>
</html>