html
    head
        link(rel="stylesheet",href="/style.less")
    body
        ul
            li #{attr}
            li #{value}
            li #{cache}
        .box
            img(src="/images/meinv.jpg")
